<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<div class="container-fluid">
      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="col-md-10">
          <a href="http://www.atmos.illinois.edu/plows/"><h2 style="font-size: 34px">PLOWS_DB</h2></a>
          <p style="font-size: 20px">I was hired as a research assistant to perform data analysis for some of the data
          gathered on the PLOWS campaign. My focus was on the cloud microphysics probes.
           Eventually I was tasked with creating a condensed and accessible dataset
          that would make future data analysis for the PLOWS campaign very straightforward. I developed
          a library of functions in matlab that serve as an interface to the gigabytes of research data that are distributed
          across more than 50 separate datafiles. I also wrote a set of functions to quality control the liquid
          water content data from the microphysics probes. The following pictures are examples of the matlab figures
          created while quality controlling the data from the cloud probes...
          </p>
          <h3 style="margin-top: 80px; ">10minute Liquid Water Content [g/m3] Comparison from PLOWS RF07</h3>
          <img src="/images/lwc_comparison.jpg" class="img-responsive" alt="Responsive image">
          <h3 style="margin-top: 80px; ">Here is a different visualization of the same time frame. Time is colormapped
          to another axis to examine how probe performance varies with time.</h3>
          <img src="/images/lwc_colormap1.jpg" class="img-responsive" alt="Responsive image">
          <h3 style="margin-top: 80px; ">Here is the next ten minutes. Look closely at the FSSP2 (upper right) graph
          for this time frame, and the previous ten minutes. The time colormap makes it very easy to pinpoint when
          the probes were failing.</h3>
          <img src="/images/lwc_colormap2.jpg" class="img-responsive" alt="Responsive image">
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-4">
            <a href="http://www.atmos.illinois.edu/~turner23/mp10.html"><h2 style="font-size: 34px">FORTRAN/NCL</h2></a>
            <p style="font-size: 20px">Click the header above to see an example of the power of FORTRAN & NCL (along with a
            little UNIX scripting and javascript). Although FORTRAN is old, its high performance is crucial
            to processing large data sets.</p>
            <p style="font-size: 20px">In class we used production quality datasets such as the
            <a href="http://www.aoml.noaa.gov/hrd/hurdat/Data_Storm.html">HURDAT2</a> hurricane dataset and also the
            <a href="http://www.metoffice.gov.uk/hadobs/hadcrut4/">HadCRUT4</a> gridded sfc temp anomaly dataset</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-4">
            <a href="http://www.youtube.com/watch?v=SixE6pG6F-0"><h2 style="font-size: 34px">UIUC ATMS Multicopter</h2></a>
            <p style="font-size: 20px">The ATMS department recently invested in a multicopter as a platform for data
            collection. My good friend and fellow ATMS student Adam Burns has been helping me turn this copter into
            a precision data logging machine. The copter is capable of fully autonomous flight using GPS waypoints and this
            allows us to fly the quadcopter (and also the instrument package) remotely via a computer interface. There are
            many different use cases for a machine like this, we plan on using it to monitor crops and also to create
            a vertical profile of the lower atmosphere.
            </p>
        </div>
      </div>
</div>