
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bill Turner-Meteorologist/Programmer</a>
        </div>
        <div class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-fluid">
        <h1>My name is Bill Turner, this is my online portfolio. </h1>
      </div>
      <img src="/images/selfportrait.png">
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-5">
          <a href="http://mos-dashboard.herokuapp.com"><h2 style="font-size: 34px">GFS/NAM Forecast App </h2></a>
          <p style="font-size: 20px">A Ruby on Rails web app that provides a visualization of today's GFS and NAM MOS Forecasts for weather
          stations across the country. This project is powered by awesome open source software such as PostgreSQL and
          the Twitter Bootstrap.
        </div>
        <div class="col-md-4">
          <a href="welcome/data_analysis"><h2 style="font-size: 34px">Data Analysis</h2></a>
          <p style="font-size: 20px">Much of meteorology involves getting computers to process and visualize
          weather data collected during research projects and field campaigns. I have experience using Excel, Matlab,
          Fortran, NCL, Ruby, and Javascript to either process or display large volumes of weather data in professional
          and classroom settings.</p>
       </div>
        <div class="col-md-3">
          <a href="welcome/resume"><h2 style="font-size: 34px">Resume</h2></a>
          </p>
        </div>
      </div>
      <footer>
        <p style="font-size: 20px; margin-top: 50px">This webpage is powered by Ruby on Rails and hosted by Heroku.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
